@font-face {
  font-family: fnc;
  src: url('FISH&CHIPS-Regular.ttf');
}
@font-face {
  font-family: simple;
  src: url('Simple Print.ttf');
}
@font-face {
  font-family: canel;
  src: url('CaneletterScriptThin_PersonalUse.otf');
}
.gallery {
  border-top: 1px solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.slogan {
  text-align: center;
}
.slogan > h2 {
  font-family: canel;
  color: rgba(126, 225, 229, 0.44);
  letter-spacing: 1rem;
}
.title {
  text-align: center;
  letter-spacing: 12px;
  font-size: 12.5rem;
  font-family: fnc;
  color: #d3d3d3;
  margin-top: none;
}
.image-container {
  float: left;
}
.image-container > img {
  width: 300px;
}
.gallery > h4 {
  flex: 1 0 100%;
  padding: 1rem;
}
.header {
  height: inherit;
  background-color: #05101c;
  border-bottom: 17px solid #b9b9b9;
}
.header > ul, li {
  position: relative;
  top: -18px;
  list-style-type: none;
  display: inline;
  padding-left: 0.8em;
  float: right;
}
.nav {
  letter-spacing: 3px;
  font-size: 17px;
  color: #d3d3d3;
  font-family: simple;
}
.footer {
  background-color: #05101c;
  text-align: center;
  height: 10rem;
}
.footer > ul, li {
  float: none;
  display: inline;
  margin-top: 4rem;
}
.links-footer {
  text-transform: uppercase;
  font-family: simple;
  color: #d3d3d3;
  letter-spacing: 3px;
  font-size: 17px;

}
