@font-face {
  font-family: fnc;
  src: url('FISH&CHIPS-Regular.ttf');
}
@font-face {
  font-family: simple;
  src: url('Simple Print');
}
.gallery-container {
  border-top: 1 solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.logo {
  text-align: center;
}
.logo > h1 {
  font-size: 5.5rem;
  font-family: fnc;
  color: #d3d3d3;
}
.image-container {
  float: left;
}
.image-container > img {
  width: 300px;
}
.gallery-container > h4 {
  flex: 1 0 100%;
  padding: 1rem;
}
.header-container {
  height: inherit;
  background-color: #05101c;
  border-bottom: 17px solid #b9b9b9;
}
.header-container > ul, li {
  position: relative;
  top: 8px;
  list-style-type: none;
  display: inline;
  padding-left: 0.8em;
  float: right;
}
.nav {
  letter-spacing: 12px;
  font-size: 17px;
  color: #d3d3d3;
  font-family: simple;
}
.footer-container {
  background-color: #1a1a1a;
  text-align: center;
  height: 10rem;
}
.footer-container > ul, li {
  float: none;
  display: inline;
  margin: 0;
}
.links-footer {
  color: #5e5e5e;
}
