.app {
  width: 100%
}
.gallery-container {
  padding-top: 5em;
  border-top: 1 solid black;
}
.image-container > img {
  width: 300px;
}
.logo-container {
  float: left;
  width: 69px;
  height: 61px;
  background-image: url("../assets/logo.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.header-container {
  padding-top: 1rem;
}
.header-container > ul, li {
  position: relative;
  top: 8px;
  list-style-type: none;
  display: inline;
  padding-left: 0.8em;
  float: right;
}
.footer-container {
  background-color: #2a142d;
  text-align: center;
  position: fixed;
  bottom: 0;
  padding: 1rem;
}
.footer-container > ul, li {
  float: none;
  display: inline;
  margin: 0;
}
